<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        body{
            background-image: url("https://www.linkpicture.com/q/bg_17.png");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: "Segoe UI", "Segoe UI Semibold", "Segoe UI Black", sans-serif;
        }

        .form-container {
            background: #FFFFFF;
            border-radius: 0.25rem;
            padding: 2rem 4rem;
            margin-top: auto;
            margin-bottom: auto;
        }

        h1 {
            align-self: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <form th:action="@{/login}" method="POST">
        <div style="padding-top: 10rem; padding-bottom: 10rem" class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!--    ALERT MSG SUCCESS-->
                    <div class="alert" style="background-color: #37814F; color: white" role="alert" th:if="${code} != null">
                        <span>Log out berhasil!</span>
                        <button type="button" class="close" style="color:white;" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--    ALERT MSG-->
                    <div class="alert alert-danger" role="alert" th:if="${param.error}">Username atau Kata sandi salah!</div>
                    <div class="form-container">
                        <div style="display: flex; justify-content: center">
                            <img style="align-self: center" src="https://drive.google.com/uc?id=1nzs-oK0IV1wIoxteticf1nMvbyvhuaOP"
                                 width="300px" alt="Logo">
                        </div>
                        <div class="form-group mb-4">
                            <label class="mb-2" for="UsernameForm">Username</label>
                            <input type="text" name="username" class="form-control input-text" id="UsernameForm" placeholder="Masukkan username...">
                        </div>
                        <div class="form-group mb-4">
                            <label class="mb-2" for="PasswordForm">Kata Sandi</label>
                            <input type="password" name="password" class="form-control input-text" id="PasswordForm" placeholder="Masukkan kata sandi...">
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <button type="submit" class="btn btn-success col-12">Masuk</button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
            </div>
        </div>
    </form>
</body>
<script>
    $('.input-text').change((e) => {
        console.log(e.target.value)
        if (e.target.value === '') {
            $(e.target).addClass("is-invalid");
            $(e.target).addClass("border-danger");

            $(e.target).removeClass("border-success");
            $(e.target).removeClass("is-valid");
        } else {
            $(e.target).removeClass("is-invalid");
            $(e.target).removeClass("border-danger");

            $(e.target).addClass("border-success");
            $(e.target).addClass("is-valid");
        }
    });
</script>
</html>