<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>

<!--    ALERT MSG ERROR-->
<div class="alert alert-danger alert-dismissible fade show" style="margin: 20px 50px -30px 50px" role="alert" th:if="${error}">
  <span th:text="${error}"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--    ALERT MSG-->

<!--    ALERT MSG SUCCESS-->
<div class="alert" style="background-color: #37814F; color: white" role="alert" th:if="${success}">
  <span th:text="${success}"></span>
  <button type="button" class="close" style="color:white;" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--    ALERT MSG-->

</body>
</html>