<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Daftar Anggota</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
    <style>
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            background-image: url("https://www.linkpicture.com/q/bg_17.png");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            height: 100%;
            position: relative;
        }

        #container {
            min-height: 100%;
            position: relative;
        }

        .dataTables_wrapper .dataTables_filter input:focus-visible {
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
            border-color: #28a745;
        }

        .dataTables_wrapper .dataTables_filter input {
            border-color: #28a745 !important;
            margin-left: 10px;
        }

        table.dataTable.hover tbody tr:hover {
            background-color: #DBEFE1;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            background-color: #E0EFEF !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background-color: #E0EFEF !important;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #FFF), color-stop(100%, #E0EFEF));
            color: black !important;
            border-color: #28a745;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
            background-color: transparent !important;
        }

        tbody, td, tfoot, th, thead, tr {
            border-color: #28a745 !important;
        }

        .dataTables_wrapper .dataTables_length select {
            border-color: #28a745 !important;
        }

        .dataTables_wrapper .dataTables_length select:focus-visible {
            border-color: #28a745;
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
        }

        th.sorting.sorting_desc, th.sorting.sorting_asc {
            color: #37814F;
        }

    </style>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar('anggota')"></nav>
<div class="container-xl my-5" id="container">

    <!--    ALERT MSG SUCCESS-->
    <div class="alert" style="background-color: #37814F; color: white" role="alert" th:if="${success}">
        <span th:text="${success}"></span>
        <button type="button" class="close" style="color:white;" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--    ALERT MSG-->

    <div th:if="${modal_add}">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Tambah Anggota</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"><p th:text="${modal_add}"></p></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="width: 100%;">
        <div class="card-header text-center" style="background-color: #DBEFE1">
            <h3 class="my-auto">Daftar Anggota</h3>
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                <div class="row">
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <a  class="btn btn-success float-right" style="margin:10px 0px 0px 0px" th:href="@{/tambah-anggota}">Tambah Anggota</a>
                    </div>
                </div>
                <div class="row mb-3" style="margin-top: 10px">
                    <div class="col">
                        <table>
                            <thead>
                            <tr>
                                <h6>Status Keanggotaan</h6>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <select id="dropDownStatusKeanggotaan"
                                        class="form-select border-success input-text rounded-3 border border-2"
                                        aria-label="Default select example" required>
                                    <option value="ANY">Semua</option>
                                    <option value="AKTIF">Aktif</option>
                                    <option value="TIDAK_AKTIF">Tidak Aktif</option>
                                </select>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table>
                            <thead>
                            <tr>
                                <h6>Pekerjaan</h6>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <select id="dropDownPekerjaan"
                                        class="form-select border-success input-text rounded-3 border border-2"
                                        aria-label="Default select example" required>
                                    <option value="ANY">Semua</option>
                                    <option value="ASN">ASN</option>
                                    <option value="SWASTA">Swasta</option>
                                    <option value="WIRAUSAHA">Wirausaha</option>
                                    <option value="IRT">Ibu Rumah Tangga</option>
                                    <option value="LAINNYA">Lainnya</option>
                                </select>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table>
                            <thead>
                            <tr>
                                <h6>Golongan Darah</h6>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <select id="dropDownGolonganDarah"
                                        class="form-select border-success input-text rounded-3 border border-2"
                                        aria-label="Default select example" required>
                                    <option value="ANY">Semua</option>
                                    <option value="O">O</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="AB">AB</option>
                                </select>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table>
                            <thead>
                            <tr>
                                <h6>Aset</h6>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <select id="dropDownAset"
                                        class="form-select border-success input-text rounded-3 border border-2"
                                        aria-label="Default select example" required>
                                    <option value="ANY">Semua</option>
                                    <option value="MOTOR">Motor</option>
                                    <option value="MOBIL">Mobil</option>
                                    <option value="RUMAH">Rumah</option>
                                    <option value="VILA">Vila</option>
                                </select>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <table id="table_anggota" class="hover row-border stripe">
                    <thead>
                    <tr>
                        <th>Nama Lengkap</th>
                        <th>Tempat Lahir</th>
                        <th>Tanggal Lahir</th>
                        <th>Jenis Kelamin</th>
                        <th>Status</th>
                        <th>Nomor HP</th>
                        <th>Action</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                        <td>Data 7</td>
                        <td>Data 8</td>
                        <td>Data 9</td>
                        <td>Data 10</td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
<script th:inline="javascript">

    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            const statusKeanggotaan = $('#dropDownStatusKeanggotaan').val();
            const pekerjaan = $('#dropDownPekerjaan').val();
            const golonganDarah = $('#dropDownGolonganDarah').val();
            const aset = $('#dropDownAset').val()

            if (statusKeanggotaan !== "ANY") {
                if (data[4].toUpperCase() !== statusKeanggotaan.replace("_", " ")) return false
            }

            if (pekerjaan !== "ANY") {
                if (data[8] !== pekerjaan) return false
            }

            if (golonganDarah !== "ANY") {
                if (data[9] !== golonganDarah) return false
            }

            if (aset !== "ANY") {
                if (!data[7].toUpperCase().includes(aset)) return false
            }
            return true
        }
    );

    $(document).ready(function () {
        $('#staticBackdrop').modal('show');

        const table = $('#table_anggota').DataTable({
            "ajax": {
                "url": "/api/anggota/viewall",
                "dataSrc": ''
            },
            "searching": true,
            "ordering": true,
            columnDefs: [{
                targets: 2,
                render: $.fn.dataTable.render.moment('DD MMMM YYYY')
            }],
            "columns": [
                {
                    "data": null,
                    "render": function (data) {
                        return data.namaDepan + " " + data.namaBelakang;
                    }
                },
                {"data": "tempatLahir"},
                {"data": "tanggalLahir"},
                {
                    "data": null,
                    "render": function (data) {
                        if (data.jenisKelamin == 1) {
                            return "Laki-Laki";
                        } else {
                            return "Perempuan";
                        }
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        if (data.statusKeanggotaan == 0) {
                            return "Tidak Aktif";
                        } else {
                            return "Aktif";
                        }
                    }
                },
                {"data": "nomorHP"},
                {
                    "data": null,
                    "render": function (data, type) {
                        return '<a class="btn btn-outline-success" href="/profil/' + data.id + '">' + 'Detail' + '</a>';
                    }
                },
                {
                    "data": null,
                    "visible": false,
                    "render": function (data) {
                        var res = "-"
                        if (data.profile.isPunyaMotor === true) {
                            res = "Motor"
                        }
                        if (data.profile.isPunyaMobil === true) {
                            res === "-" ? res = "Mobil" : res += ", Mobil"
                        }
                        if (data.profile.isPunyaRumah === true) {
                            res === "-" ? res = "Rumah" : res += ", Rumah"
                        }
                        if (data.profile.isPunyaVila === true) {
                            res === "-" ? res = "Vila" : res += ", Vila"
                        }
                        return res
                    }
                },
                {
                    "data": "profile.pekerjaan",
                    "visible": false
                },
                {
                    "data": "golonganDarah",
                    "visible": false
                }
            ],
        });

        $('#dropDownStatusKeanggotaan, #dropDownPekerjaan, #dropDownGolonganDarah, #dropDownAset').change(function () {
            table.draw();
        });
    });
</script>

</body>
</html>