<!DOCTYPE html>
<html lang="id" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card-style1 {
            box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
        }

        .border-0 {
            border: 0 !important;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: 0.25rem;
        }

        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        section {
            padding: 120px 0;
            overflow: hidden;
            background-image: url("https://www.linkpicture.com/q/bg_17.png");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: "Segoe UI", "Segoe UI Semibold", "Segoe UI Black", sans-serif;
            min-height: 100%;
            position: relative;
        }

        .section-title {
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 10px;
            position: relative;
            display: inline-block;
        }

        .text-primary {
            color: rgba(0, 0, 0, 1) !important;
        }

        .text-secondary {
            color: #15395A !important;
        }

        .font-weight-600 {
            font-weight: 600;
        }

        .display-26 {
            font-size: 1.3rem;
        }

        @media screen and (min-width: 992px) {
            .p-lg-7 {
                padding: 4rem;
            }
        }

        @media screen and (min-width: 768px) {
            .p-md-6 {
                padding: 3.5rem;
            }
        }

        @media screen and (min-width: 576px) {
            .p-sm-2-3 {
                padding: 2.3rem;
            }
        }

        .p-1-9 {
            padding: 1.9rem;
        }

        @media screen and (min-width: 576px) {
            .pe-sm-6, .px-sm-6 {
                padding-right: 3.5rem;
            }
        }

        @media screen and (min-width: 576px) {
            .ps-sm-6, .px-sm-6 {
                padding-left: 3.5rem;
            }
        }

        .mb-1-9 {
            margin-bottom: 1.9rem;
        }

        @media (min-width: 992px){}
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('profil')"></nav>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center mb-5">
                            <div class="col-lg-4 mb-4 mb-lg-0">
                                <img style="width: 15rem"
                                     th:src="${anggota.profile.photoUrl == null} ? 'https://bootdey.com/img/Content/avatar/avatar7.png' : @{${anggota.profile.photosImagePath}}">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <ul class="list-unstyled mb-1-9">
                                    <li class="display-28"><span
                                            th:text="${anggota.namaDepan} + ' ' + ${anggota.namaBelakang}"
                                            style="font-size: 2.5em"
                                            class="display-26 text-secondary me-2 font-weight-600"></span></li>
                                    <li class="display-28"><span th:text="${anggota.email}" style="font-size: 1.5em"
                                                                 class="display-26 text-secondary me-2"></span></li>
                                    <li class="display-28"><span th:text="${anggota.nomorHP}" style="font-size: 1.5em"
                                                                 class="display-26 text-secondary me-2"></span></li>
                                    <li class="display-28"><span
                                            th:text="${anggota.tempatLahir} + ', ' + ${#temporals.format(anggota.tanggalLahir,'d MMMM yyyy')}"
                                            style="font-size: 1.5em" class="display-26 text-secondary me-2"></span></li>
                                </ul>
                            </div>
                            <div style="align-self: flex-start; text-align: right" class="col-lg-2 px-xl-10 h-100">
                                <h3 th:text="${anggota.statusKeanggotaan} ? 'Aktif' : 'Tidak Aktif'"></h3>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4 mb-sm-5">
                            <div class="row mb-4">
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col" align="right">
                                    <a type="button" href="/ubah-profil" class="btn btn-success"><i
                                            style="margin-right: 0.5rem" class="fa fa-pencil"></i>Ubah Profil</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="section-title text-primary">Divisi</span>
                                    <p th:text="${divisi}" class="mb-5"></p>
                                    <span class="section-title text-primary">Mengelola Mentoring</span>
                                    <p th:text="${anggota.profile.isMengelolaMentoring} ? 'Ya' : 'Tidak'"></p>
                                </div>
                                <div class="col">
                                    <span class="section-title text-primary">Golongan Darah</span>
                                    <p th:text="${anggota.golonganDarah != null} ? ${anggota.golonganDarah} : 'Unknown'"
                                       class="mb-5"></p>
                                    <span class="section-title text-primary">Jenis Kelamin</span>
                                    <p th:text="${anggota.jenisKelamin} ? 'Laki-laki' : 'Perempuan'"></p>
                                </div>
                                <div class="col">
                                    <span class="section-title text-primary">Pekerjaan</span>
                                    <p th:text="${anggota.profile.pekerjaan != null} ? ${anggota.profile.pekerjaan} : 'Unknown'"
                                       class="mb-5"></p>
                                    <span class="section-title text-primary">Aset</span>
                                    <p th:text="${aset}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4 mb-sm-5">
                            <div>
                                <span class="section-title text-primary mb-3 mb-sm-4">Catatan</span>
                                <p th:text="${anggota.profile.catatan != null} ? ${anggota.profile.catatan} : '-'"></p>
                            </div>
                        </div>
                        <div class="col-4 text-center mx-auto">
                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" onclick="removeWrongPassword()"
                                    data-target="#staticBackdrop">
                                Ubah Kata Sandi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wrongPasswordText" th:text="${wrong_password}" hidden></div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form th:action="@{/profil}" th:object="${ubahPassword}" method="POST"
                      class="container needs-validation">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ubah Kata Sandi</h1>
                        <input type="text" th:field="*{id}" hidden>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div th:if="${wrong_password}">
                            <div id="wrongPasswordInfo" class="alert alert-danger alert-dismissible fade show"
                                 role="alert">
                                <strong th:text="${wrong_password}"></strong>
                            </div>
                        </div>
                        <div class="my-3">
                            <label for="formKataSandiLama" class="form-label">Kata Sandi Lama<span
                                    style="color: red">*</span></label>
                            <div class="input-group">
                                <input type="password" th:field="*{oldPassword}"
                                       class="form-control input-text border-success rounded-start border border-2"
                                       id="formKataSandiLama" placeholder="Masukkan kata sandi lama..." required>
                                <span class="input-group-text" id="basic-addon1"
                                      onclick="clickBiEye('#togglePassword1', '#formKataSandiLama')"><i
                                        class="bi bi-eye-slash mb-2" id="togglePassword1"></i></span>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Masukkan Kata Sandi Lama.
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <label for="formKataSandiBaru" class="form-label">Kata Sandi Baru<span
                                    style="color: red">*</span></label>
                            <input type="password" onchange="cekNewPassword()" th:field="*{newPassword}"
                                   class="form-control input-password border-success rounded-start border border-2"
                                   id="formKataSandiBaru" placeholder="Masukkan kata sandi baru..." required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Kata Sandi minimal terdiri dari 8 karakter.
                            </div>
                        </div>
                        <div class="my-3">
                            <label for="formKonfirmasiKataSandiBaru" class="form-label">Konfirmasi Kata Sandi
                                Baru<span style="color: red">*</span></label>
                            <input type="password" onchange="cekNewPassword()"
                                   class="form-control border-success rounded-start border border-2"
                                   id="formKonfirmasiKataSandiBaru" placeholder="Konfirmasi kata sandi baru..."
                                   required>
                            <div class="valid-feedback">
                                Kata sandi sesuai.
                            </div>
                            <div class="invalid-feedback">
                                Kata sandi tidak sesuai.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit"
                                class="btn btn-success"
                                data-toggle="modal"
                                data-target="#exampleModal"
                                id="submit" disabled>
                            Ubah
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    </div>
</section>

<footer th:replace="fragments/fragment :: footer"></footer>

<script th:inline="javascript">

    $(document).ready(function () {
        const text_wrong_passwors = document.getElementById("wrongPasswordText").innerText
        if (text_wrong_passwors === "Masukkan kata sandi yang berbeda!" || text_wrong_passwors === "Kata sandi lama yang dimasukkan salah!") {
            $('#staticBackdrop').modal('show');
        }
    });

    $('.input-password').change((e) => {
        if (e.target.value.length < 8) {
            $(e.target).addClass("is-invalid");
            $(e.target).addClass("border-danger");

            $(e.target).removeClass("border-success");
            $(e.target).removeClass("is-valid");
        } else {
            $(e.target).removeClass("is-invalid");
            $(e.target).removeClass("border-danger");

            $(e.target).addClass("border-success");
            $(e.target).addClass("is-valid");
        }
    });

    $('.input-text').change((e) => {
        if (e.target.value === '') {
            $(e.target).addClass("is-invalid");
            $(e.target).addClass("border-danger");

            $(e.target).removeClass("border-success");
            $(e.target).removeClass("is-valid");
        } else {
            $(e.target).removeClass("is-invalid");
            $(e.target).removeClass("border-danger");

            $(e.target).addClass("border-success");
            $(e.target).addClass("is-valid");
        }

        cekValid()
    });

    function cekNewPassword() {
        const sandiBaru = document.getElementById("formKataSandiBaru")
        const konfirmasiSandiBaru = document.getElementById("formKonfirmasiKataSandiBaru")

        if (konfirmasiSandiBaru.value.length > 0) {
            if (sandiBaru.value === konfirmasiSandiBaru.value) {
                $(konfirmasiSandiBaru).removeClass("is-invalid");
                $(konfirmasiSandiBaru).removeClass("border-danger");

                $(konfirmasiSandiBaru).addClass("border-success");
                $(konfirmasiSandiBaru).addClass("is-valid");
            } else {
                $(konfirmasiSandiBaru).addClass("is-invalid");
                $(konfirmasiSandiBaru).addClass("border-danger");

                $(konfirmasiSandiBaru).removeClass("border-success");
                $(konfirmasiSandiBaru).removeClass("is-valid");
            }
        }

        cekValid()
    }

    function cekValid() {
        const valid = document.getElementsByClassName("is-valid")
        if (valid.length === 3) {
            $("#submit").removeAttr("disabled")
        } else {
            $("#submit").attr("disabled", true)
        }
    }

    function clickBiEye(idTogglePassword, idInput) {

        const togglePassword = document
            .querySelector(idTogglePassword);

        const password = document.querySelector(idInput);

        const type = password
            .getAttribute('type') === 'password' ?
            'text' : 'password';

        password.setAttribute('type', type);

        // Toggle the eye and bi-eye icon
        togglePassword.classList.toggle('bi-eye');

    }

    function removeWrongPassword() {
        document.getElementById("wrongPasswordInfo").style.display = "none"
    }

</script>

</body>
</html>